/* .BoiteMere {
    width: 97%;
    border: 0.5em solid black;
    border-width: 1px;
    align-content: left;
} */

h2,.detailCentre,p {
    padding: 10px 20px;
}

.styled {
    border: 0;
    padding: 5px 20px;
    border-radius: 10px;
    position: relative;
    bottom: 0px;
    right: -20px;
}