p {
    text-align: center;
}

div {
    text-align: center;
}

#name {
    width: 400px;
    height: 20px;
}

.liste {
    position: relative;
    text-align: left;
    margin-bottom: 20px;
}

.search {
    width: 80px;
    height: 40px;
}

.plus {
    border: 0;
    padding: 5px 20px;
    border-radius: 10px;
    position: relative;
    bottom: 0px;
    right: -630px;
}
