p, h1{
    text-align: center;
    font-style: italic;
    color: #fafafa;
}

div {
    text-align: center;
}

#name {
    width: 400px;
    height: 20px;
    color: #fafafa;
}

/* .liste {
   width: 5%;
} */

.search {
    width: 80px;
    height: 40px;
}

.plus {
    border: 0;
    padding: 5px 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

mat-grid-tile {
    background: lightblue;
    border-radius: 15px;
}
